<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="usersRetriever" type="com.tele2.blocklist.UserRetrieverSection" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tele2_sales_solutions_support_console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
	  <add name="OraSelfcareConnectionString" connectionString="DATA SOURCE=10.156.188.68:1521/SELFDB12;PERSIST SECURITY INFO=True;USER ID=TBMOWNER;Password=a0K2kqzhsuT;" providerName="Oracle.ManagedDataAccess.Client" />
	  <add name="OraNASMConnectionString" connectionString="DATA SOURCE=pcadb-orav2-p.corp.tele2.com:1526/nsim;PERSIST SECURITY INFO=True;USER ID=NASMOWNER;Password=ownerm;" providerName="Oracle.ManagedDataAccess.Client" />
	  <add name="OraNASMEEConnectionString" connectionString="DATA SOURCE=pcadb-orav2-p.corp.tele2.com:1526/nsim;PERSIST SECURITY INFO=True;USER ID=nasmeeowner;Password=prodee01;" providerName="Oracle.ManagedDataAccess.Client" />
	  <add name="OraBlocklistConnectionString" connectionString="DATA SOURCE=pcadb-orav2-p.corp.tele2.com:1526/nsim;PERSIST SECURITY INFO=True;USER ID=PICASSOUSER;Password=User_01;" providerName="Oracle.ManagedDataAccess.Client" />
	  <add name="OraSimDBConnectionString" connectionString="DATA SOURCE=pcadb-orav2-p.corp.tele2.com:1526/nsim;PERSIST SECURITY INFO=True;USER ID=SIMDBOWNER;Password=prod01;" providerName="Oracle.ManagedDataAccess.Client" />
	  <add name="OraNASFConnectionString" connectionString="DATA SOURCE=pcadb-orav2-p.corp.tele2.com:1526/nsim;PERSIST SECURITY INFO=True;USER ID=NASOWNER;Password=owners;" providerName="Oracle.ManagedDataAccess.Client" />
	  <add name="OraNASMLConnectionString" connectionString="DATA SOURCE=pcadb-orav2-p.corp.tele2.com:1526/nsim;PERSIST SECURITY INFO=True;USER ID=NASMLOWNER;Password=prod11;" providerName="Oracle.ManagedDataAccess.Client" />
	  <add name="OraNASIOTConnectionString" connectionString="DATA SOURCE=pcadb-orav2-p.corp.tele2.com:1526/nsim;PERSIST SECURITY INFO=True;USER ID=NASM2MOWNER;Password=nasm;" providerName="Oracle.ManagedDataAccess.Client" />
	  <add name="OraSponsoredRoamingConnectionString" connectionString="DATA SOURCE=pcadb-orav2-p.corp.tele2.com:1526/nsim;PERSIST SECURITY INFO=True;USER ID=PICASSOUSER;Password=User_01;" providerName="Oracle.ManagedDataAccess.Client" />
	  <add name="OraNASMB2BConnectionString" connectionString="DATA SOURCE=pcadb-orav2-p.corp.tele2.com:1526/nsim;PERSIST SECURITY INFO=True;USER ID=NASMD94OWNER;Password=Jt67pH7HYe2cmJJx;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="simmatch:TypeAbbrev" value="GHOST" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="tele2name" value="TELE2 SVERIGE AB" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
    <!-- test settings-->
    <!--
    <add key="ldapConnection" value="tdspreprod.tele2.se" />
    <add key="ldapBindingDn" value="cn=APPUSER,OU=Picasso,O=T2,DC=com" />
    <add key="ldapBaseDn" value="OU=Picasso,O=T2,DC=com" />
    <add key="ldapPassword" value="test" />
    //-->
    <!-- prod settings-->
    <add key="ldapConnection" value="ldapc.tele2.net" />
    <add key="ldapBindingDn" value="cn=APPUSER,OU=Picasso,O=T2,DC=com" />
    <add key="ldapSearchDn" value="(|(uniqueMember=uid={0},ou=people,ou=Picasso,o=t2,dc=com)(uniqueMember=cn={0},ou=m2m,ou=Picasso,o=t2,dc=com))" />
    <add key="ldapBaseDn" value="OU=Picasso,O=T2,DC=com" />
    <add key="ldapPassword" value="4gxW9htGuYY\6)?3Ua2e" />
    <add key="ldapPort" value="636" />
    <!-- filter, exclude all role ending with -->
    <add key="excludeRoleEndingWith" value="sit" />
    <add key="fileArea" value="\\SEWP-NUMBERS01\archive" />
    <add key="fileAreaIWS" value="\\SEWP-NUMBERS01\filearea\iws" />
    <!-- sftp simdb-->
    <add key="simdbhost" value="t2biteme.tele2.se" />
    <add key="simdbuser" value="simdb_dl" />
    <add key="simdbpassword" value="Bcoss11!" />
    <!-- trim api -->
    <add key="trim_api_url" value="http://sewp-trim01.corp.tele2.com" />
    <add key="trim_api_key" value="" />
    <!-- get resource owner-->
    <add key="getresourceowner_username" value="PRD_DATAMETRIX" />
    <add key="getresourceowner_password" value="T7Dpy7Cf" />
    <!-- npa api-->
    <add key="npa_api_url" value="https://nas-support-api.dockeree.int.comhem.com" />
    <!-- t2prov api-->
    <add key="t2prov_api_url" value="https://mobileprovisioning.tele2.net/query/cn/v1/" />
    <add key="t2prov_api_username" value="nas_prod" />
    <add key="t2prov_api_password" value="u!KDLakP" />
  </appSettings>
  <usersRetriever>
    <users>
      <add username="sasublock" password="4gxW9htGuYY" />
      <add username="magentoblock" password="s4UD4uC?udap" />
      <add username="nagiosop5block" password="Swu@@H7w4QAq" />
      <add username="ss4block" password="qUThe=eHE3u+" />
      <add username="t2prov" password="gUThd=e4E3u+" />
      <add username="salesengine_creditcheckserviceblock" password="FrePrI0ratR!" />
    </users>
  </usersRetriever>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../logs/picasso.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="AuditFileAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>
      <connectionString value="Server=smcprod;Index=t2_picasso;Port=9200;rolling=true" />
      <lossy value="false" />
      <bufferSize value="100" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="DEBUG" />
      </evaluator>
    </appender>
    <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL  
                 levels prio goes from left to right
            -->
    <root>
      <!-- ALL -->
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <logger additivity="false" name="AuditFileAppender">
      <level value="DEBUG" />
      <appender-ref ref="AuditFileAppender" />
    </logger>
  </log4net>
  <system.web>
    <!--compilation debug="true" targetFramework="4.5" >
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation-->
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" />
    <roleManager cacheRolesInCookie="true" defaultProvider="Tele2RoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="Tele2RoleProvider" type="tele2_sales_solutions_support_console.Models.Tele2RoleProvider" />
      </providers>
    </roleManager>
    <compilation>
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>

    <!-- COMMENT THIS OUT IF RUNNING LOCAL -->
    <rewrite>
      <rules>
        <rule name="HTTPS force" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GetResourceOwner_v01_Binder1">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://prd.tip.corp.tele2.com:5502/ws/TIP_GetResourceOwner_v01_CC.request.canonical.webService:handleRequestWS/GetResourceOwner_v01_Port" binding="basicHttpBinding" bindingConfiguration="GetResourceOwner_v01_Binder1" contract="ResourceOwnerService.handleRequestWS_PortType" name="GetResourceOwner_v01_Port1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <tele2_sales_solutions_support_console.Properties.Settings>
      <setting name="tele2_sales_solutions_support_console_se_pts_api_PtsNumberService" serializeAs="String">
        <value>http://api.pts.se/PTSNumberService/PTS_Number_Service.svc/soap</value>
      </setting>
    </tele2_sales_solutions_support_console.Properties.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <!--system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="h:\log4net.txt" />
            </listeners>
        </trace>
    </system.diagnostics-->
</configuration>